<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'extAudio')"
      transform="translate(377.000000, 22.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'mixCv')"
      transform="translate(397.000000, 22.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vcaCv')"
      transform="translate(417.000000, 22.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'vca')"
      type="output"
      transform="translate(438.000000, 22.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'noise')"
      type="output"
      transform="translate(377.000000, 42.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vcfCutoff')"
      transform="translate(397.000000, 42.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vcfRes')"
      transform="translate(417.000000, 42.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'vcf')"
      type="output"
      transform="translate(438.000000, 42.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vco1vOct')"
      transform="translate(377.000000, 62.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vcoLinFm')"
      transform="translate(397.000000, 62.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'vcoSaw')"
      type="output"
      transform="translate(417.000000, 62.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'vcoPulse')"
      type="output"
      transform="translate(438.000000, 62.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vcoMod')"
      transform="translate(377.000000, 82.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'lfoRate')"
      transform="translate(397.000000, 82.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'lfoTri')"
      type="output"
      transform="translate(417.000000, 82.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'lfoSq')"
      type="output"
      transform="translate(438.000000, 82.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'mix1')"
      transform="translate(377.000000, 102.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'mix2')"
      transform="translate(397.000000, 102.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'vcMixCtrl')"
      transform="translate(417.000000, 102.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'vcMix')"
      type="output"
      transform="translate(438.000000, 102.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'mult')"
      transform="translate(377.000000, 123.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'mult1')"
      type="output"
      transform="translate(397.000000, 123.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'mult2')"
      type="output"
      transform="translate(417.000000, 123.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'assign')"
      type="output"
      transform="translate(438.000000, 123.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'gate')"
      type="gateInput" transform="translate(376.000000, 141.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'eg')"
      type="output"
      transform="translate(397.000000, 143.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'kb')"
      type="output"
      transform="translate(417.000000, 143.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showOutput"
      (click)="connectOutput($event, 'gate')"
      type="output"
      transform="translate(438.000000, 143.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'tempo')"
      transform="translate(377.000000, 163.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'runStop')"
      type="gateInput" transform="translate(397.000000, 161.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'reset')"
      type="gateInput" transform="translate(417.000000, 161.000000)">
</svg:g>

<svg:g app-patch-point *ngIf="showInput"
      (click)="connectInput($event, 'hold')"
      type="gateInput" transform="translate(437.000000, 161.000000)">
</svg:g>
