<md-toolbar color="primary">
  <!-- <button md-button (click)="toggleFiles.emit()">
    <md-icon>list</md-icon>
  </button> -->

  <button md-icon-button mdTooltip="Save Patch" (click)="savePatch.emit()">
    <md-icon>save</md-icon>
  </button>

  <button md-icon-button mdTooltip="Open Patch" (click)="openPatch.emit()">
    <md-icon>folder_open</md-icon>
  </button>

  <button md-icon-button mdTooltip="Reset Patch" color="warn" (click)="initPatch.emit()">
    <md-icon>clear</md-icon>
  </button>

  <span class="spacer"></span>

  <span class="scale-desc mat-typography">{{scaleDesc}}</span>

  <button md-icon-button (click)="zoomIn.emit()" mdTooltip="Zoom In">
    <md-icon>zoom_in</md-icon>
  </button>

  <button md-icon-button (click)="zoomOut.emit()" mdTooltip="Zoom Out">
    <md-icon>zoom_out</md-icon>
  </button>

  <span class="spacer"></span>

  <button md-icon-button color="accent" (click)="toggleInspector.emit()" mdTooltip="Inspector">
    <md-icon>info_outline</md-icon>
  </button>
</md-toolbar>
