<div class="container title-bar-container">

  <button>
    <i class="fa fa-lg fa-folder-o" aria-hidden="true"></i>
  </button>

  <div class="container center-container">
    <div>
      <select>
        <option>Fit Width</option>
        <option>Fit Height</option>
        <option>100%</option>
        <option>200%</option>
        <option>300%</option>
        <option>400%</option>
        <option>500%</option>
      </select>

      <button class="no-outline">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      <button class="no-outline">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
    </div>

    <span class="title">
      Title
    </span>
  </div>

  <button class="inspector-button">
    <i class="fa fa-lg fa-info-circle" aria-hidden="true"></i>
  </button>

</div>
