<md-toolbar>
  <button md-button (click)="addMother32()">
    Add
  </button>
  <button md-button (click)="removeMother32()">
    Remove
  </button>
  <md-slider min="1.0"
             max="5.0"
             step="1.0"
             [value]="scale$ | async"
             (input)="setScale($event)">
  </md-slider>
</md-toolbar>
<div>
  <app-mother32 *ngFor="let mother32 of mother32s$ | async"
                [value]="mother32"
                [scale]="scale$ | async"></app-mother32>
  <app-cable-overlay [scale]="scale$ | async"
                     [numMother32s]="numMother32s$ | async">
  </app-cable-overlay>
  <app-patch-point-overlay *ngIf="patching$ | async"
                           [scale]="scale$ | async"
                           [mother32s]="mother32s$ | async">
  </app-patch-point-overlay>
  <app-unpaired-cable-overlay *ngIf="patching$ | async"
                              [scale]="scale$ | async"
                              [numMother32s]="numMother32s$ | async"
                              [value]="unpairedConnection$ | async">
  </app-unpaired-cable-overlay>
</div>
