/* You can add global styles to this file, and also import other style files */

html, body, app-root, .full-height {
  height: 100%;
}

body {
  margin: 0px;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
